.Section2{
  width: 100vw;
  height: 100vh;
}

.Section2 .container {
  background-size: 100vw 100vh;
  background-color: rgba(255, 255, 255,0.4);
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:space-between;
  text-align: center;
  position: relative;
}

.Section2 .container::after{
  content: "";
  position: absolute;
  background-image: url(https://s3-alpha-sig.figma.com/img/403b/9003/35c83cb9a015cc37437ecbd4c4228580?Expires=1656892800&Signature=gXB48AFgJclAmzWcBd4HbE5lTe8ynpVMEm3bzodxRoaXScFNY9wEpR6iV1FGHu-FobP3ccC9Gew9T8TttdjiQDCkivPEC1fvpIoECZ-R3kefLmO2Ho7V1VO-f59iFKJX-wuwZiOkRSGosUgkJ97QVW0WznJVgPBMxcLtSIRgUZwfUsbtGIbjaWBlZYwwz1NUfgcm2mmvOpANr-XHEoKnORZ71ckBqmi8-vqRPr6ptW6ajN8aSurSnjMQCqlG00IW~7JS6OrSzl9oIsrFmet79O2Pb76YblZeK-kgHc~YieAqxkEDADQxTzIme8Zkm-tJaU47Xf3h2sEvCZ-OFUmbKw__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA);
  background-repeat: no-repeat;
  background-size: 70vw 100vh;
  transform: scaleX(-1);
  height: 100vh;
  width: 70vw;
  bottom: 0;
  left:0;
  z-index:-2;
}

.Section2 .container::before {
  content: "";
  position: absolute;
  background-image: url(https://s3-alpha-sig.figma.com/img/403b/9003/35c83cb9a015cc37437ecbd4c4228580?Expires=1656892800&Signature=gXB48AFgJclAmzWcBd4HbE5lTe8ynpVMEm3bzodxRoaXScFNY9wEpR6iV1FGHu-FobP3ccC9Gew9T8TttdjiQDCkivPEC1fvpIoECZ-R3kefLmO2Ho7V1VO-f59iFKJX-wuwZiOkRSGosUgkJ97QVW0WznJVgPBMxcLtSIRgUZwfUsbtGIbjaWBlZYwwz1NUfgcm2mmvOpANr-XHEoKnORZ71ckBqmi8-vqRPr6ptW6ajN8aSurSnjMQCqlG00IW~7JS6OrSzl9oIsrFmet79O2Pb76YblZeK-kgHc~YieAqxkEDADQxTzIme8Zkm-tJaU47Xf3h2sEvCZ-OFUmbKw__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA);
  background-repeat: no-repeat;
  background-size: 70vw 100vh;
  height: 100vh;
  width: 70%;
  bottom: 0;
  right: 0;
  z-index: -2;
}

.Section2 .container .toplogo {
  color: white;
  margin-top: 30px;
  margin-bottom: 20px;
  height: 70px;
  width: 70px;
}

.Section2 .container .heading{
  margin-bottom: 40px;
  margin-top: 20px;
  font-size: 1.2rem;
}

.Section2 .container .boxContainer{
  width: 90vw;
  padding-bottom: 100px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.Section2 .container .boxContainer .arrows {
  height: 40px;
  width: 100px;
  color: darkblue;
  transform: scale(2);
}

.Section2 .container .boxContainer .box{
  background-color: white;
  height: 250px;
  width: 250px;
  padding: 10px 20px;
}

.Section2 .container .boxContainer .box .logoes{
  height: 70px;
  width: 70px;
  margin:20px;
}


.Section2 .container .boxContainer .box h3{
  margin-bottom: 15px;
  font-size: 1.3rem;
  font-weight: 600;
}

@media only screen and (max-width: 480px) {
  .Section2 .container {
    padding: 10px
  }
  .Section2 .container .heading {
    margin-bottom: 20px;
    margin-top: 5px;
    font-size: 0.8rem;
  }
  .Section2 .container .boxContainer .box .logoes {
    height: 50px;
    width: 50px;
    margin: 20px;
  }
  .Section2 .container .toplogo {
    margin-top: 10px;
    margin-bottom: 5px;
    height: 30px;
    width: 30px;
  }.Section2 .container .boxContainer .box h3 {
    margin-bottom: 15px;
    font-size: 0.9rem;
    font-weight: 600;
  }.Section2 .container .boxContainer .box p {
    margin-bottom: 15px;
    font-size: 0.8rem;
  }
  .Section2 .container .boxContainer .box {
    padding: 0 10px;
    min-height: 250px;
  }.Section2 .container .boxContainer .arrows {
    height: 40px;
    width: 100px;
    color: darkblue;
    transform: scale(1);
  }.Section2 .container .boxContainer{
    padding-bottom: 60px;
  }

}
